<div>
  <form class="SearchRoomsForm">
  <%= form_with local: true, method: :get do |form| %>
    <p>エリアを入力</p>
      <%= form.text_field :search_area %>
   
    <p>フリーワードを入力</p>
      <%= form.text_field :search_free %>
    <%= form.submit '検索' %>
  <% end %>
  </form>
</div>  