/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    box-sizing: border-box;
   }
  
  .header {
    display: block;
    justify-content: space-between;
    align-items: center; 
   }
  
  .Navbar {
    background-color: palevioletred;
    height: 100px;
    width: 100%;
  } 
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
  }
  
  .NavContainer {
      display: flex;
      width: 100%;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
  }
  .header__logo {
    text-decoration: none;
    color: white;
   }
  
  .dropdown {
    position: relative;
    
   }
  
  .dropdown:hover .dropdown__menu {
      display: block;
  }
  .DropdownShow {
      cursor: pointer;
      align-items: center!important;
      display: flex!important;
  
  }
  
  .NavProfile__avatar {
    border-radius: 60px;
    margin-right: 8px;
    width: 40px;
  }
  
  img {
      vertical-align: middle;
      overflow-clip-margin: content-box;
      overflow: clip; 
  }
  
  .NavProfile__name {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
  }
  
  .dropdown__menu {
      text-decoration: none;
      top: 100%;
      left: 0;
      margin-top: 0.125rem;
      position: absolute;
      z-index: 1000;
      display: none;
      min-width: 8rem;
      padding: 0.5rem 0;
      margin: 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
  }
  
  .DropdownMenu__item {
      text-decoration: none;
  }
  
  .accordion-box {
      margin: 10px 0;
      padding: 0;
  }

  .accordion-box label {
      display: block;
      font-weight: bold;
      cursor :pointer;
      margin-top: 10px;
      padding:5px;
      background-color: palevioletred;
  }

  .accordion-box input {
      display: none; 
  }

  .accordion-box div {
      height: 0;
      overflow-y: hidden;
      transition: 0.5s;
      opacity: 0;
  }

  .accordion-box input:checked + label + div {
      height: auto;
      opacity: 1;
      background-color:#e0fdff;
  }
  
  .SearchRoomsFormContainer {
    margin-top: 10px;
    padding-bottom: 35px;
    padding-left: 20px;
  }

  section {
    display: block;
  }

  .container {
 
    padding: 0 32px;
    margin: 0 36px;
  }

  .RecommendAreaSection {
    margin-bottom: 260px;
  }

  h2 {
    display: block;
  }

  .RecommendAreas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 32px;
    gap: 32px;    
}
  .RecommendArea {
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: flex-end;
    padding: 40px 24px;
    width: calc(25% - 24px);
}